---
import Tablet from './ui/tablet.astro';
import UserInfo from './ui/user-info.astro';
import Parent from './ui/parent.astro';
import Recommender from './ui/recommender.astro';
import Cart from './ui/cart.astro';
import Price from './ui/price.astro';
import Card from './ui/card.astro';
import Notice from './ui/notice.astro';
import PaymentButton from './ui/payment-button.astro';
---

<div class="flex items-center justify-center w-full py-[100px] px-[24px]">
  <div class="w-full max-w-[768px]">
    <UserInfo />
    <Tablet />
    <Parent />
    <Recommender />
    <Cart />
    <Price />
    <Card />
    <Notice />
    <PaymentButton />
  </div>
</div>
