---

---

<div class="curriculum-gradient-background flex items-center justify-center py-[120px]">
  <div class="w-full max-w-[760px]">
    <p class="text-[#FFFFFF] text-[60px] font-[700] text-center mb-[100px]">설탭은 왜 효과가 좋을까요?</p>

    <div class="flex items-center justify-center flex-col">
      <span class="mb-[20px] text-[32px] font-[700] curriculum-badge rounded-[9999px] py-[4px] px-[20px] text-[#FFFFFF]"
        >이유1</span
      >
      <div class="mb-[60px]">
        <p class="text-[40px] font-[700] text-[#FFFFFF] text-center">모든 아이의 이해도에 맞는</p>
        <p class="gradient-text text-[40px] font-[700] text-center">1:1맞춤 수업이 이루어지니까</p>
      </div>
    </div>

    <div class="w-full h-[400px] bg-[#ECECEC] rounded-[20px] mb-[20px]"></div>

    <div class="mb-[120px]">
      <p class="gradient-text text-center text-[40px] font-[700]">설탭의 1:1 수업 방식</p>
      <p class="text-[24px] font-[400] text-[#94A3B8] text-center">
        선생님이 학생의 풀이 과정을 구체적으로 확인하며 난이도와 양을 조절합니다
      </p>
    </div>

    <div class="flex items-center justify-center flex-col">
      <span class="mb-[20px] text-[32px] font-[700] curriculum-badge rounded-[9999px] py-[4px] px-[20px] text-[#FFFFFF]"
        >이유2</span
      >
      <div class="mb-[60px]">
        <p class="text-[40px] font-[700] text-[#FFFFFF] text-center">스스로 공부할 수 있는</p>
        <p class="gradient-text text-[40px] font-[700] text-center mb-[12px]">자기주도능력을 키워주니까</p>
        <p class="text-[20px] font-[400] text-[#64748b]">* 설탭 vs 타사 자기 주도 학습 시간 비교 (7일 평균)</p>
      </div>
    </div>

    <div class="grid grid-cols-3">
      <div class="flex items-center justify-end flex-col">
        <p class="text-[#c9d1db] text-[40px] font-[700]">4시간</p>
        <div class="only bg-[#c9d1db] mb-[10px]"></div>
        <p class="text-[#c9d1db] text-[24px] font-[400]">과외만 받을 시</p>
      </div>
      <p class="gradient-text flex items-center justify-center text-[60px] font-[700] h-[100%]">VS</p>
      <div class="flex items-center justify-end flex-col">
        <p class="gradient-text text-[40px] font-[700]">20시간</p>
        <div class="seoltab mb-[10px]"></div>
        <p class="gradient-text text-[24px] font-[700] text-nowrap">설탭에서 과외 + 자기주도학습 시</p>
      </div>
    </div>
  </div>
</div>

<style is:inline>
  .curriculum-gradient-background {
    background: linear-gradient(180deg, #100334 7.36%, #000000 81.92%);
  }

  .curriculum-badge {
    background: radial-gradient(478.95% 378.02% at 55.41% 50%, #9c65fb 0, #ca86fc 58%, #edb5fc 100%);
  }

  .only {
    width: 132px;
    height: 228px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #c9d1db;
  }

  .seoltab {
    width: 132px;
    height: 324px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: linear-gradient(129deg, #8b5ff1 27.78%, #ca86fc 105.66%, #edb5fc 130.93%);
  }
</style>
