---

---

<div class="gradient-background flex items-center justify-center flex-col w-full py-[120px] bg-[#000000]">
  <div class="mb-[100px]">
    <p class="text-center text-[#FFFFFF] text-[40px] font-[700]">국내 최초 온라인 과외를 만든</p>
    <p class="gradient-text text-[60px] font-[700] text-center">오리지널 1등 과외 설탭</p>
  </div>

  <div class="w-full max-w-[1100px]">
    <div class="flex w-full gap-[16px] mb-[16px]">
      <div class="w-full py-[40px] bg-[#ffffff14] rounded-[20px]">
        <p class="text-[24px] text-center text-[#a57eff] font-[400]">누적 수업수</p>
        <p class="gradient-text text-[60px] text-center font-[700]">240만+</p>
      </div>
      <div class="w-full py-[40px] bg-[#ffffff14] rounded-[20px]">
        <p class="text-[24px] text-center text-[#a57eff] font-[400]">누적 수강생 수</p>
        <p class="gradient-text text-[60px] text-center font-[700]">4.5만+</p>
      </div>
    </div>
    <div class="flex gap-[16px]">
      <div class="w-full py-[40px] bg-[#ffffff14] rounded-[20px]">
        <p class="text-[24px] text-center text-[#a57eff] font-[400]">첫 매칭 만족도</p>
        <p class="gradient-text text-[60px] text-center font-[700]">97%</p>
      </div>
      <div class="w-full py-[40px] bg-[#ffffff14] rounded-[20px]">
        <p class="text-[24px] text-center text-[#a57eff] font-[400]">수업 재연장율</p>
        <p class="gradient-text text-[60px] text-center font-[700]">95.9%</p>
      </div>
    </div>
  </div>

  <div class="mt-[16px]">
    <p class="text-[#777777] text-center">* 2024년 상반기 수강생 대상 조사 결과</p>
    <p class="text-[#777777] text-center">* 3개월 상품 구매자 중 1개월 이상 수업 진행</p>
  </div>

  <div class="flex items-center justify-around mt-[120px] w-full max-w-[1120px]">
    <div>
      <p class="text-[20px] font-[400] text-center text-[#FFFFFF]">중앙일보</p>
      <p class="text-[40px] font-[700] text-center gradient-text">
        올해의<br />
        우수 브랜드 대상
      </p>
    </div>
    <div class="vertical-line"></div>
    <div>
      <p class="text-[20px] font-[400] text-center text-[#FFFFFF]">중앙일보</p>
      <p class="text-[40px] font-[700] text-center gradient-text">
        교육, 과외<br />
        소비자 대상 2년 연속
      </p>
    </div>
    <div class="vertical-line"></div>
    <div>
      <p class="text-[20px] font-[400] text-center text-[#FFFFFF]">중앙일보</p>
      <p class="text-[40px] font-[700] text-center gradient-text">
        최고의<br />
        브랜드 대상
      </p>
    </div>
  </div>
</div>

<style is:inline>
  .gradient-background {
    background: linear-gradient(0deg, #100334 7.36%, #000000 81.92%);
  }

  .gradient-text {
    background: linear-gradient(315deg, #8b5ff1 7.36%, #ca86fc 81.92%, #edb5fc 120.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .vertical-line {
    width: 1px;
    height: 150px;
    background-color: #8b5ff1;
    opacity: 0.2;
  }
</style>
