---

---

<div class="teacher-section1-background flex items-center justify-center flex-col py-[120px]">
  <div class="max-w-[1120px] w-full">
    <div class="flex justify-center relative mb-[30px]">
      <p class="text-[#FFFFFF] text-[28px] font-[700] bg-[#000000] py-[5px] px-[20px] rounded-[9999px]">
        과외에서 가장 중요한 건, 선생님
      </p>
      <span
        class="block absolute bottom-[-10px] left-[50%] translate-x-[-50%] border-b-0 border-l-0 border-t-gray-black border-[10px] border-transparent"
      ></span>
    </div>
    <div class="mb-[80px]">
      <p class="text-center text-[60px] font-[700]">설탭은 단순히 매칭에서<br />끝나지 않습니다.</p>
    </div>

    <div
      class="grid gap-[20px] items-center justify-center"
      style={{
        gridTemplateColumns: '1fr auto 1fr',
      }}
    >
      <div class="w-full">
        <p class="text-[52px] text-[#64748b] font-[700] text-center mb-[20px]">타사</p>
        <div
          class="grid gap-[10px]"
          style={{
            gridTemplateRows: 'repeat(3, auto)',
          }}
        >
          <div class="w-full bg-[#f3f5fa] py-[30px] rounded-[12px]">
            <p class="text-[28px] text-[#64748b] text-center font-[700]">오프라인 교육 미진행</p>
          </div>
          <div class="w-full bg-[#f3f5fa] py-[30px] rounded-[12px]">
            <p class="text-[28px] text-[#64748b] text-center font-[700]">동기부여 체계 미비</p>
          </div>
          <div class="w-full bg-[#f3f5fa] py-[30px] rounded-[12px]">
            <p class="text-[28px] text-[#64748b] text-center font-[700]">선생님 관리 체계 미비</p>
          </div>
        </div>
      </div>
      <p class="gradient-text text-center text-[50px] pt-[90px]">➤</p>
      <div>
        <p class="text-[52px] text-[#64748b] font-[700] text-center mb-[20px]">설탭</p>
        <div
          class="grid gap-[10px]"
          style={{
            gridTemplateRows: 'repeat(4, auto)',
          }}
        >
          <div class="gradient-item-background w-full bg-[#f3f5fa] py-[16px] rounded-[16px]">
            <p class="text-[28px] text-[#FFFFFF] text-center font-[700]">업계 유일 오프라인 교육 진행</p>
          </div>
          <div class="gradient-item-background w-full bg-[#f3f5fa] py-[16px] rounded-[16px]">
            <p class="text-[28px] text-[#FFFFFF] text-center font-[700]">동기부여 패널티 체계</p>
          </div>
          <div class="gradient-item-background w-full bg-[#f3f5fa] py-[16px] rounded-[16px]">
            <p class="text-[28px] text-[#FFFFFF] text-center font-[700]">지속적인 관리 시스템</p>
          </div>
          <div class="gradient-item-background w-full bg-[#f3f5fa] py-[16px] rounded-[16px]">
            <p class="text-[28px] text-[#FFFFFF] text-center font-[700]">무제한 매칭 시스템</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-[#f3edff] py-[40px] px-[24px] mt-[80px] rounded-[24px]">
      <p class="text-center text-[32px] font-[700]">
        선발만 하고 끝나는 타 업체와 달리,<br />상위 1% 선생님 노하우를 바탕으로 지속적인 교육 및 관리가 진행되요.
      </p>
    </div>
  </div>
</div>

<style is:inline>
  .teacher-section1-background {
    background-color: #ffffff;
  }

  .border-t-gray-black {
    --tw-border-opacity: 1;
    border-top-color: rgb(0 0 0 / var(--tw-border-opacity));
  }

  .gradient-item-background {
    background: linear-gradient(97deg, #8b5ff1 -28.14%, #ca86fc 79.36%, #edb5fc 216.14%);
  }
</style>
