---
import UserInfo from './ui/user-info/index.astro';
import Subject from './ui/subject/index.astro';
import Time from './ui/time/index.astro';
import Month from './ui/month/index.astro';
import AddPackageButton from './ui/add-package/index.astro';
---

<div class="flex items-center justify-center w-full py-[100px] px-[24px]">
  <div class="w-full max-w-[768px]">
    <UserInfo />
    <Subject />
    <Time />
    <Month />
    <AddPackageButton />
  </div>
</div>
