---

---

<div class="mt-[15px]">
  <a href="./cart">
    <button class="bg-[#8b5ff1] w-full text-[#FFFFFF] font-[700] text-center py-[12px] rounded-[4px]"
      >상품 추가하기</button
    >
  </a>
</div>

<style is:inline></style>
