---

---

<div class="default-item-box">
  <p class="text-[20px] font-[700] mb-[20px]">횟수와 시간</p>

  <div class="mb-[10px]">
    <p class="text-gray-600">✓ 태블릿 보유 2만 원 할인이 적용된 금액이에요.</p>
    <p class="text-gray-600">✓ 추가 과목 3만 원 할인이 적용된 금액이에요.</p>
  </div>

  <div class="flex gap-[10px]">
    <button class="flex items-start justify-center flex-col default-item-button">
      <span class="font-[400] mb-[5px]">주 1회 60분</span>
      <span class="text-gray-400 text-[14px]"><del>월 299,000원</del></span>
      <span class="font-[700]">월 199,000원</span>
    </button>
    <button class="flex items-start justify-center flex-col default-item-button">
      <span class="font-[400] mb-[5px]">주 1회 60분</span>
      <span class="text-gray-400 text-[14px]"><del>월 299,000원</del></span>
      <span class="font-[700]">월 199,000원</span>
    </button>
  </div>
</div>

<style is:inline></style>
