---
import UserName from './user-name';
---

<div class="default-item-box">
  <div class="mb-[12px]">
    <p class="text-[#64748b] text-[13px]">
      수강생 | <UserName client:load />
    </p>
  </div>

  <div>
    <p class="text-[#000000] text-[24px] font-[700]">
      <span class="text-[#7046ce]">
        <UserName client:load />
      </span>
      님의 잠재력을 설탭이 발견해드릴게요
    </p>
  </div>
</div>
