---
import { Image } from 'astro:assets';
import BandBanner from './band-banner.png';
---

<div class="banner">
  <Image src={BandBanner} alt="띠배너" />
</div>

<style is:inline>
  .banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  img {
    width: 100%;
    height: 100%;
  }
</style>
