---

---

<div class="default-item-box">
  <div class="mb-[20px]">
    <p class="text-[20px] font-[700]">결제수단</p>
  </div>

  <div class="mb-[15px]">
    <div
      class="flex items-center justify-between border-[#dae0ea] border-[1px] py-[12px] px-[16px] rounded-[6px] mb-[10px]"
    >
      <span class="text-[#c9d1db] text-[15px] font-[400]">카드를 등록해 주세요.</span>
      <button class="text-[#64748b] font-[500] text-[13px] underline">카드 등록</button>
    </div>
    <div class="flex items-center justify-between border-[#dae0ea] border-[1px] py-[12px] px-[16px] rounded-[6px]">
      <span class="text-[#c9d1db] text-[15px] font-[400]">할부 개월 안내</span>
      <button
        ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5 9.05267L6.06066 8L12 13.8947L17.9393 8.0001L19 9.05277L12 16L5 9.05267Z"
            fill="#64748B"></path></svg
        ></button
      >
    </div>
  </div>

  <div class="flex justify-between items-center p-[8px] bg-[#f7f9fe] rounded-[4px]">
    <div class="flex">
      <span
        class="mr-[10px] px-[4px] py-[2px] flex items-center text-[11px] text-[#2880e9] font-normal leading-[14px] bg-[#e1f1ff] rounded-[2px]"
        >할부</span
      >
      <span class="text-[13px] text-[#64748b]">신용카드 무이자 할부 안내</span>
    </div>
    <div>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
        ><path d="M11 8L6 13L5.3 12.3L9.6 8L5.3 3.7L6 3L11 8Z" fill="#64748B"></path></svg
      >
    </div>
  </div>
</div>
