---

---

<div class="default-item-box">
  <div class="mb-[20px]">
    <p class="text-[20px] font-[700]">결제 상품 및 혜택</p>
  </div>

  <div>
    <div
      class="border-[#f3f5fa] border-[1px] border-solid tablet:border-gray50 flex justify-between items-center rounded-[8px] gap-[4px] p-[16px] bg-white shadow-[0_2px_8px_0_rgba(0,0,0,0.1)]"
    >
      <div class="flex flex-col w-full">
        <div class="flex items-start justify-between">
          <div>
            <p class="text-[15px] font-[700]">고등 영어</p>
            <p class="text-[13px] font-[400] text-[#64748b]">주 1회 60분 | 3개월 | 총 12회</p>
          </div>
          <button>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.0001 10.9394L17.9395 5L19 6.06077L13.0607 12.0001L19 17.9393L17.9393 19L12.0001 13.0607L6.06077 19L5 17.9395L10.9394 12.0001L5 6.06066L6.06066 5L12.0001 10.9394Z"
                fill="#64748B"></path></svg
            >
          </button>
        </div>
        <div class="w-full h-[1px] bg-[#dae0ea] my-[20px]"></div>
        <div class="w-full">
          <div class="flex items-center justify-between">
            <p class="text-[13px] font-[400] text-[#64748b]">월 수업료</p>
            <p class="text-[15px] font-[700] text-[#27364b]">월 199,000원</p>
          </div>
          <div class="flex items-center justify-between">
            <p class="text-[13px] font-[400] text-[#64748b]">월 정가</p>
            <p class="text-[13px] font-[400] text-[#94a3b8]"><del>199,000원</del></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
