---

---

<div class="default-item-box">
  <div class="mb-[20px]">
    <p class="text-[15px] font-[700]">유의사항</p>
  </div>

  <div class="mb-[15px]">
    <div class="flex items-center justify-between mb-[10px]">
      <p class="text-[#374151] text-[13px] font-[400]">결제 유의사항</p>
      <span class="text-[#64748b] text-[13px] font-[500] underline cursor-pointer">자세히</span>
    </div>
    <div class="flex items-center justify-between mb-[10px]">
      <p class="text-[#374151] text-[13px] font-[400]">환불 규정</p>
      <span class="text-[#64748b] text-[13px] font-[500] underline cursor-pointer">자세히</span>
    </div>
    <div class="flex items-center justify-between mb-[10px]">
      <p class="text-[#374151] text-[13px] font-[400]">태블릿 대여 유의사항</p>
      <span class="text-[#64748b] text-[13px] font-[500] underline cursor-pointer">자세히</span>
    </div>
    <div class="flex items-center justify-between mb-[10px]">
      <p class="text-[#374151] text-[13px] font-[400]">할인 혜택 유의사항</p>
      <span class="text-[#64748b] text-[13px] font-[500] underline cursor-pointer">자세히</span>
    </div>
  </div>
</div>
