---

---

<div class="default-item-box">
  <div class="mb-[20px]">
    <p class="text-[20px] font-[700]">학부모 정보</p>
    <p class="text-[15px] font-400 text-[#64748b]">가입 계정과 동일한 정보로 작성해 주세요.</p>
  </div>

  <div>
    <div class="flex flex-col mb-[20px]">
      <label for="ParentName" class="text-[11px] font-[700] mb-[8px]">이름</label>
      <input type="text" id="ParentName" placeholder="학무모님의 성함을 입력해 주세요." class="default-item-input" />
    </div>
    <div class="flex flex-col">
      <label for="ParentPhoneNumber" class="text-[11px] font-[700] mb-[8px]">핸드폰 번호</label>
      <input
        type="text"
        id="ParentPhoneNumber"
        placeholder="학무모님의 성함을 입력해 주세요."
        class="default-item-input"
      />
    </div>
  </div>
</div>
