---

---

<div class="flex items-center justify-center w-full mt-[10px]">
  <button class="w-full text-center bg-[#8b5ff1] px-[20px] py-[12px] text-white font-[700] rounded-[6px]"
    >월 99,900원 결제하기</button
  >
</div>
