---

---

<div class="default-item-box">
  <div class="mb-[20px]">
    <p class="text-[20px] font-[700]">월 혜택가</p>
  </div>

  <div class="w-full h-[1px] bg-[#dae0ea] my-[20px]"></div>

  <div>
    <div class="flex items-center justify-between mb-[5px]">
      <p class="text-[15px] text-[#64748b]">총 상품 금액</p>
      <p class="text-[15px] text-[#64748b]"><del>1,194,900원</del></p>
    </div>
    <div class="flex items-center justify-between mb-[5px]">
      <p class="text-[15px] text-[#27364b]">총 할인 금액</p>
      <p class="text-[15px] text-[#8b5ff1]">-300,000원</p>
    </div>
    <div class="flex items-center justify-between">
      <p class="text-[15px] text-[#27364b]">추천인 할인</p>
      <p class="text-[15px] text-[#8b5ff1]">-20,000원</p>
    </div>
  </div>

  <div class="w-full h-[1px] bg-[#dae0ea] my-[20px]"></div>

  <div>
    <div class="flex items-center justify-between">
      <p class="text-[15px] text-[#27364b]">총 결제 금액</p>
      <p class="text-[15px] text-[#27364b]">894,000원</p>
    </div>
  </div>
</div>
