---

---

<div class="default-item-box">
  <div class="mb-[20px]">
    <p class="text-[20px] font-[700]">추천인 할인</p>
  </div>

  <div class="flex w-full">
    <div class="w-full">
      <label for="ParentName" class="hidden text-[11px] font-[700] mb-[8px]"></label>
      <input type="text" id="ParentName" placeholder="추천인 코드를 입력하세요." class="default-item-input" />
    </div>
    <button
      class="text-[#c9d1db] font-[500] text-[15px] ml-[10px] py-[10px] px-[12px] bg-[#f3f5fa] rounded-[6px] text-nowrap"
      >적용</button
    >
  </div>
</div>
