---

---

<div class="default-item-box">
  <p class="text-[20px] font-[700] mb-[20px]">태블릿 혜택</p>

  <div>
    <button class="default-item-button text-left text-[#000000] font-500 mb-[10px]">태블릿 보유 (월 2만원 할인)</button>
    <button class="default-item-button text-left text-[#000000] font-500">태블릿 대여 (무상 제공)</button>
  </div>
</div>
