---

---

<div class="flex items-center justify-center py-[30px]">
  <div>
    <p class="text-[40px] text-[#FFFFFF] font-bold text-center">단 1개월만에 32점 상승!</p>
    <p class="text-[24px] text-[#FFFFFF] font-[400] text-center mb-[12px]">그 비법이 궁금하다면?</p>
    <div class="flex items-center justify-center w-full bg-[#40FFF3] rounded-[8px]">
      <button class="text-[22px] font-bold py-[12px]">지금 확인하고 혜택받기 &gt;</button>
    </div>
  </div>
</div>

<style is:inline></style>
