---

---

<div class="flex items-center justify-center w-full bg-[#000000]">
  <ul class="flex items-start justify-between w-full max-w-[600px] py-[15px]">
    <li class="text-[17px] text-[#64748b] cursor-pointer">설탭 효과</li>
    <li class="text-[17px] text-[#64748b] cursor-pointer">맞춤 선생님</li>
    <li class="text-[17px] text-[#64748b] cursor-pointer">맞춤 커리큘럼</li>
    <li class="text-[17px] text-[#64748b] cursor-pointer">수업 후기</li>
    <li class="text-[17px] text-[#64748b] cursor-pointer">가격 혜택</li>
  </ul>
</div>

<style is:inline></style>
